/* ADD YOUR STYLES HERE */


/*===========================================================================*/
                        /* ~~~ UTILITY CLASSES ~~~ */ 
/*===========================================================================*/

.inline-block {
    display: inline-block;
}

.extra-padding {
    padding-left: 36px;
}

.clearfix {
    overflow:hidden;
    z-index: 10;
}

.margin-top-20 {
    margin-top: 20px;
}

.align-right {
    text-align: right;
}

.vertical-align {
    vertical-align: middle;
}

.col-1-12 {
    width: 8.33%;
    display: inline-block;
}
.col-2-12 {
    width: 16.3%;
    display: inline-block;
}

.col-3-12 {
    width: 25%;
    display: inline-block;
}

.col-8-12 {
    width: 66%;
    display: inline-block;
}

.col-9-12 {
    width: 75%;
    display: inline-block;

}

.none {
    display:none;
}

.kill-the-link {
    text-decoration: none;
}
/*===========================================================================*/
                        /* ~~~ 14. Signup form ~~~ */ 
/*===========================================================================*/


.form-container {
    text-align: left;
    width: 50%;
}

.input-container {
    display: block;
    position: relative;
    margin-bottom: 20px;
    text-align: right; 
}

.form-input-long {
    width: 200px;
    height: 30px;
}

.input-border {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.form-label {
    padding-right: 15px
}

.form-input-short {
    width: 100px;
    height: 30px;
}

.form-input-super-short {
    width: 25px;
    height: 30px;
}

.super-short-input-label {
    padding-left: 20px;
    padding-right: 5px;
}


.checkbox {
    margin-right: 10px;
}

.btn-container {
    text-align: right;
}

.btn {
    width: 204px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: grey;
    padding: 10px;
}


/*===========================================================================*/
                        /* ~~~ 15. Form Validation ~~~ */ 
/*===========================================================================*/

/*USING SOME STYLES FROM ABOVE TO POSITION STUFF WHERE I WANT IT*/

.new-form-container {
    text-align: left;
}


.new-input-container {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.is-valid {
    color: rgba(67, 205, 66, 1);
    padding-left: 25px;
}

.valid-box-shad {
    box-shadow: 0px 0px 6px 2px rgba(67,205,66,1);
}
.is-invalid {
    color: red;
    padding-left: 25px;
}

.invalid-box-shad {
    box-shadow: 0px 0px 6px 2px rgba(246,45,49,0.59);
}


/*===========================================================================*/
                        /* ~~~ 16. SEARCH BAR ~~~ */ 
/*===========================================================================*/

.search-container {
    display: block;
    position: relative;
    width:90%;
    border: 1px solid #CCCCCC;
    padding: 15px;
    border-radius: 15px;
    background-color: #DDDDDD;
}

.search-label {
    display: inline-block;
}

.search-input-container {
    display: inline-block;
    text-align: center;
}

.search-input {
    width: 90%;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.search-btn {
    display: inline-block;
    background-color: #EF8189;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}



/*===========================================================================*/
                        /* ~~~ 17. OMNIBOX ~~~ */ 
/*===========================================================================*/

.omnibox-container {
    display: inline-block;
    position: relative;

}

.input-field {
    display: inline-block;
    position: relative;
    float: left;
    border-radius: 5px;
    border: 1px solid lightgrey;
    width: 300px;
    height: 40px;
}

.omnibox-list {
    display: inline-block;
    position: absolute;
    float: left;
    z-index: 11;
    list-style: none;
    padding: 6px;
}



.x-marks-the-spot {
    background-color: #5A52B8;
    border-radius: 5px;
    color: #C1C1C1;
    padding: 1px 5px;
    margin-right: 5px;
    text-decoration: none;
}

.omnibox-list-item {
    background-color: #6F6FF0;
    color: white;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
}

.omnibox-container input {
    padding-left: 300px
}


/*===========================================================================*/
                        /* ~~~ 18. CHUNKY ~~~ */ 
/*===========================================================================*/
.top-border {
    border-top: 1px solid #C1C1C1;
}

.chunky-container {
    border: 1px solid #C1C1C1;
    display: block;
    position: relative;
    border-radius: 4px;
}

.chunky-heading-container {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(96%,#b8bac6), color-stop(99%,#b8bac6), color-stop(99%,#b8bac6), color-stop(100%,#dddfe3), color-stop(100%,#dddfe3), color-stop(100%,#9e9e9e), color-stop(102%,#dddfe3));
}
.chunky-heading {
    padding: 20px;
    margin: 0;
}

ul.chunky-list {
    list-style: none;
    padding-left: 0;
}

.list-item-container {
    display: block;
    text-align: center;
    height: 75px;
}

.chunky-item-container {
    display: inline-block;
    text-align: left;
    float: right;
}

.chunky-title {
    color: #3305CB;
    font-weight: bold;
    padding-top: 20px;
}

.chunky-exp {
    color: #252626;
    padding-top: 5px;
    margin: 0;
}
.num-container {
    color: #252626;
    position: relative;
    float:right;
    margin: 10px 0;
}

.num-container::after {
    content: " *";
}

.icon-container {
    float:left;
}

.icon {
    content: url(http://www.placehold.it/25);
    height: 25px;
    width: 25px;
    margin: 15px auto;
}

/*.list-item-container::before {
    content: url(http://www.placehold.it/20);
    width: 16.6%;
    overflow: auto; 
}

.list-item-container::after {
    content: url(http://www.placehold.it/15);
    position: relative;
    overflow: auto; 
}*/